extends layout_user
block content
    center
        h2 Game Profile
    br        
    table.table.table-bordered
        thead.thead(style='background-color: #ec1313; color: white;')
            tr
                th(scope='col') #
                th(scope='col') Name
                th(scope='col') Price
                th(scope='col') Rank
                th(scope='col') Type
                th(scope='col') Key
                th(scope='col') Rate
                th(scope='col') Picture
                th(scope='col') More Details
        - for(var x=0;x<game.length;x++)
            if(game[x].key!=0)
                tr
                    td #{x+1}
                    td #{game[x].name}
                    td #{game[x].price}
                    td #{game[x].rank}
                        - for(var y=0;y<type.length;y++)
                            if(type[y].no == game[0].no_type)
                                td #{type[y].name}
                    td #{game[x].key}
                    td #{game[x].rate}
                    td 
                        img(src='/picture/'+game[x].pic, alt='' ,height="125" ,width="125")
                    td
                        center
                            a.btn.btn-secondary(href='/store/profile/'+game[x].name) More