extends layout_user
block content
    center
        h2 Game Profile
    h3 Game Information
    .row
        .col Name: #{game[0].name}
        .col Price: #{game[0].price}
        .w-100
        .col Rank: #{game[0].rank}
        .col Type: 
            - for(var y=0;y<type.length;y++)
                if(type[y].no == game[0].no_type)
                    td #{type[y].name}
        .w-100
        .col Key: #{game[0].key}
        .col Rate: #{game[0].rate}
        .w-100
        .col Picture:
            br 
            img(src='/picture/'+game[0].pic, alt='' ,height="125" ,width="125")    
    br
    center
        a.btn.btn-primary(href='/api/buy/'+game[0].name) Buy
        a.btn.btn-secondary(href='../', role='button') Back